/* Estilos generales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  height: 800px;
}

/* Estilos al menú */

.list-menu {
  height: 100%;
  width: 22%;
  margin: 0 auto;
  background-color: #000;
  color: #fff;
  list-style: none;
}

.profile {
  height: 13.5%;
}

.container {
  width: 86%;
  margin: 0 auto;
  padding-top: 5.5%;
}

.profile img {
  width: 20%;
  height: 100%;
}

.name {
  text-transform: uppercase;
  font-weight: 700;
  margin-left: 3.7%;
  position: relative;
  bottom: 15px;
  letter-spacing: 0.8px;
}

.fa-caret-down {
  font-size: 1.8em;
  margin-left: 3%;
  position: relative;
  bottom: 10px;
}

.option {
  height: 10.2%;
  border-top: 1px solid #fff;
  padding-left: 9%;
  font-weight: 700;
}

.option-different-style {
  height: 10.2%;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  padding-left: 9%;
  font-weight: 700;
}

.option span, .option-different-style span {
margin-top: 12%;
display: inline-block;
letter-spacing: 0.4px;
}
